{% extends "base.html "%}

{% block content %}

<h2>Vos posts</h2>

<div class="my-posts" style="width: 800px;margin: 0 auto;">

    {% if posts %}
        {% for post in posts %}
            <div class="post" data-aos="zoom-in" style="border: 1px solid black;width: 400px;margin: 0 auto;padding: 10px;">
                {% if post.content_type == 'Ticket' %}
                
                    {% include 'blog/ticket.html' %}
                    <a href="{% url 'update-ticket' post.id %}">Modifier</a>
                    <a href="{% url 'delete-ticket' post.id %}">Supprimer</a>
                {% elif post.content_type == 'Review' %}
                    {% include "blog/review.html" %}
                    <a href="{% url 'update-review' post.id %}">Modifier</a>
                    <a href="{% url 'delete-review' post.id %}">Supprimer</a>
                {% endif %}
            </div>
        {% endfor%}
    {% endif %}
            
            
</div>
{% endblock content %}