{% extends "base.html" %}

{% block content %}
<p style="font-weight: bold;">Suivie d'autres utilisateurs</p>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Envoyer">
</form>

<p style="font-weight: bold;">Abonnements</p >
    {% if follows %}
    
        {% for follow in follows %}
            <div style="padding: 10px;display: flex;flex-direction: row;border: 1px solid black;align-items: baseline;
            justify-content: space-between;">
                <p>{{follow.user}}</p>
                <a href="{% url 'unfollow' follow.id %}">Désabonner</a>
            </div> 
        {% endfor %}

    {% else %}
        <p>Vous n'êtes actuellement abonné à aucun utilisateur.</p>
    {% endif %}
<p style="font-weight: bold;">Abonnés</p >
    {% if followers %}
        {% for follower in followers %}
            <div style="display: flex;flex-direction: row;border: 1px solid black;align-items: baseline;
            justify-content: space-between;">
                <p>{{follower.followed_user}}</p>
            </div>    
        {% endfor %}
    {% else %}
            <p>Vous n'avez actuellement aucun abonné.</p>
    {% endif %}

{% endblock content %}