<div class="post" style="border: 1px solid black;text-align: center;">
    <p>Vous avez publié un ticket</p>
        <ul style="list-style: none;">
            <li>{{ticket.title}}</li>
            <li>{{ticket.description}}</li>
            <li>{{ticket.time_created}}</li>

            {% if ticket.image %}
                <li><img src="{{ ticket.image.url }}" width="200px" alt="image billet {{ ticket.title }}"></li>
            {% else %}
                <li>Pas d'image pour ce ticket</li>
            {% endif %}
            <li><a href="{% url 'update-ticket' ticket.id %}">Modifier</a></li>

            <li><a href="{% url 'delete-ticket' ticket.id %}">Supprimer</a></li>
        </ul>
</div>